

<ul class="dropdown-menu" aria-labelledby="genresDropdown">
    <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Action">Action</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Adventure">Adventure</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Animation">Animation</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Comedy">Comedy</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Crime">Crime</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Documentary">Documentary</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Drama">Drama</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Family">Family</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Fantasy">Fantasy</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Foreign">Foreign</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="History">History</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Horror">Horror</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Music">Music</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Mystery">Mystery</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Romance">Romance</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Science Fiction">Science Fiction</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="TV Movie">TV Movie</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Thriller">Thriller</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="War">War</a></li>
        <li><a class="dropdown-item" asp-controller="Movies" asp-action="ByGenre" asp-route-genre="Western">Western</a></li>
</ul>